.font1{
    font-family:sans-serif;
}
.font-size1{
    font-size: 12px;
}
.color1{
    background-color: #1c004c;
}
.gradient1{
    background: linear-gradient(to right, #7F00FF, #3f00fc) !important;
}
.gradient2{
background: linear-gradient(to right, #00ff99, #33ccff) !important;
}

.button1{
    /* margin-top:10px;
    margin-bottom: 10px; */
    height: 40px;
    width: 130px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .6s ease-out !important;
}
.button1:hover{
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.nav-button{
TRANSFORM: skew(332deg);
}
.navbar{
    background-color: #1c004c;
    color:#fff;
}
.navbar-second a:hover{
  background-color:transparent;
}
.token-list ul li{
    margin-left:20px;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
    background: #130033;
    opacity: .7;
}
.token-list ul li i{
    font-size: 20px;
    color:#fff;
    opacity: 0.7;
}
.button-token{
  padding: 25px 40px !important;
  line-height: 0;
  border-width: 2px;
  transition: all .6s ease-out !important;
}
.button-token:hover{
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.line1::before{
    content: '';
    width: 7%;
    height: 3px;
    background:linear-gradient(to right, #7F00FF, #3f00fc) !important;
    color: blue;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.line2::before{
    content: '';
    width: 150px;
    height: 3px;
    background:linear-gradient(to right, #7F00FF, #3f00fc) !important;
    color: blue;
    display: block;
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-bullet li{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 10px 0 10px 0;
}
.list-bullet li .span-list{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  color: #E8E8E8;
  margin: 0 16px 0 16px;
  opacity: .9;
}
.list-bullet li::before{
    content: "೦ ";
    color: rgb(0, 255, 153);
}
.ico .ico-progress{
  width: 466px;
  height: 301px;
  padding: 30px 40px 30px 40px;
}
.ico .ico-progress .ico-list li .list-item-number{
  font-size: 26px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  display: block;
}
.ico .ico-progress .ico-list li .list-item-info{
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
  color: #F9F9F9;
  display: block;
  padding-left: 0 !important;
}
.ico .ico-progress-progres .ico-progress-progres-section1{
  width: 386px;
  height: 55px;
  padding: 20px 30px 20px 30px;
}
.ico .ico-progress-progres .ico-progress-progres-section1 div{
  font-size: 10px;
  font-family: sans-serif;
  text-align: right;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}
/* .ico .ico-progress-progres .ico-progress-progres-section2 progress{
  width: 386px !important;
  height: 16px !important;
  display: block !important;
  overflow: hidden !important;
 
} */

.ico-progress-button{
  width: 386px;
  height: 40px;
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 0 58px;
  display: block;
  /* padding: 0 15%; */
}
.ico-progress-icon{
  width: 386px;
  height: 26px;
  padding: 5px 0;
}
.ico-progress-icon i{
  font: 16px;
  color: #fcfcfc;
  margin: 0 5px;
  
}
/* .ico-progress-list span{
  margin-left: 10px;
}  */
.ico-list{
  margin-left: 0;
  font-size: 16px;
  font-family: sans-serif;
}
.ico-list li{
 
    margin-left: 25px;
    position: relative;
}
.ico-list li:first-child{
  padding-left: 10px !important;
}
/* .ico-list li:nth-child(4){
  margin-left:7px;
} */

.ico-list li .list-item-number::after{
  content: ":";
  position: absolute;
  margin-left: 20px;
  /* top: 0;
  right: 0; */
}
.ico-progress-progres-section1 div{
margin-left: 30px;
}
.ico-progress-progres-section1 div::after{
  content: "";
  width: 3%;
  height: 25px;
  background-color: #fff;
  color: #fff;
  display: block;
  transform: translate(48px, 10px);
  -webkit-transform: translate(45px, 10px);
  -moz-transform: translate(48px, 10px);
  -ms-transform: translate(48px, 10px);
  -o-transform: translate(48px, 10px);
}

.contact-icon a{
    width: 58px;
    height: 58px;
    background-color: aqua;
    margin: 0 auto;
    border: 1px solid aqua;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.footer ul li{
    margin: 0 auto;
}
/* .footer-list .list li a{
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
 
} */
.footer ul li a {
  position: relative;
  font-family: "Cabin",sans-serif;
  font-weight: 500;
  font-size: .8rem;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
}

.footer ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  height: 2px;
  background: #00ff99;
  background: linear-gradient(to right, #00ff99, #33ccff) !important;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer ul li a:hover::before {

-webkit-transform-origin: left center;
-ms-transform-origin: left center;
transform-origin: left center;
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1);
}

.footer {
  position: relative;
}
.footer button:hover{
cursor: pointer;
}
.img-solar{
  top:0;
  right: 0;
  position: absolute;
  width: 674px;
  height: 472px;
}
.form-control{
    height: 50px;
    border: 1px solid blue;
    /* padding: 15px; */
    border-radius:125px;
    -webkit-border-radius:125px;
    -moz-border-radius:125px;
    -ms-border-radius:125px;
    -o-border-radius:125px;
    position: relative;

}
.form-control .input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:125px;
    -webkit-border-radius:125px;
    -moz-border-radius:125px;
    -ms-border-radius:125px;
    -o-border-radius:125px;
    /* margin-right: 10px; */
}
.form-control button{
    position: absolute;
    right:0;
    margin: 4px;  
}

.join .tabs ul{
    border-bottom-color: #1c004c !important;
}
.join .tabs ul li {
  margin-left: 10px;
  border-bottom:none !important;
}
.join .list-tabs li a{
    color: #485fc7 !important; 
    font-family: sans-serif;
    /* width: 24.5%; */
    /* padding: 0.75rem 0; */
    text-decoration: none;
    border-bottom: none;
    position: relative;
    
}
/* .join .list-tabs  a:hover{
    border-bottom:1px solid #1c004c !important;
    color: #fff !important;
} */
.join .list-tabs li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  height: 2px;
  background: #485fc7;
  background: linear-gradient(to right, #7F00FF, #3f00fc) !important;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.join .list-tabs a:hover::before {

-webkit-transform-origin: left center;
-ms-transform-origin: left center;
transform-origin: left center;
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1);
}
/* .join .list-tabs  a:active{
    border-bottom:1px solid #1c004c !important;
    color: #fff !important;
} */
.team .team-card{
    border: 1px solid rgba(0,83,251,.5);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%), 0 0 25px 0 rgb(18 60 255 / 16%);
    background: rgba(17, 149, 247, 0.08);
}
.team .team-card:hover{
  background: rgba(17, 149, 247, 0.06);
  border: 1px solid rgba(0, 83, 251, 0.8);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.24);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0 25px 0 rgba(18, 60, 255, 0.24);
}
.team .card-image img{
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
}
.team .team-card p{
    color:rgba(0,83,251,.5) !important ;
}
.faq .faq-according{
    border: 1px solid rgba(0,83,251,.5);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%), 0 0 25px 0 rgb(18 60 255 / 16%);
    background: rgba(17, 149, 247, 0.08);
    padding: 8px;
    display: block;
    margin-bottom: 15px; 
    
}
.faq .faq-according:hover{
  cursor: pointer;
}
.faq .faq-according .faq-according-header{
    font-size: 14px !important;
    font-weight: 500 !important;
    height: 50px !important;
    width: 464px !important;
    padding: 14px !important;
}
.faq .faq-according .faq-according-body{
    font-size: 14px !important;
    color:#5e93ff !important;
    padding: 7px 14px 14px 14px !important;
}
.plusminus {
  float: right;
  color:  rgba(0,83,251,.5);
  padding-right: 10px;
  font-size: 20px;
}
.media .post{
    /*width: 35%;
    */
    margin-right: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
}
.post-section{
    padding: 50px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.post-section:hover{
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}
/* .poster-info{ */
    /* width: 65%; */
    /* padding: 20px 0; */
/* } */

.media .poster-info-title-section2 {
    content:'|';
    color: #2bb673;
    width: .3%;
    height: 27px;
    background:#2bb673;
    display: block;
    margin-left: 2%;
}

/* Animation */
.rotateing{
    animation: rotate 6s linear infinite;
    -webkit-animation: rotate 6s linear infinite;
}
@keyframes rotate 
 {
    from { 
        transform:rotate(0deg) ;
         -webkit-transform:rotate(0deg) ;
          -moz-transform:rotate(0deg) ;
           -ms-transform:rotate(0deg) ; 
           -o-transform:rotate(0deg) ;
}
    to {
       transform:rotate(360deg) ;
       -webkit-transform:rotate(360deg) ;
       -moz-transform:rotate(360deg) ;
       -ms-transform:rotate(360deg) ;
       -o-transform:rotate(360deg) ;
}
    }
    .pulse {
      animation:  pulse-animation  2s infinite;
      -webkit-animation:  pulse-animation  2s infinite;
}
    
@keyframes pulse-animation{
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(51, 217, 178, 0);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
  
.moving{
    animation:move 3s infinite ease-in-out ;
    -webkit-animation:move 3s infinite ease-in-out ;
}
@keyframes move{
    0%{
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
}
    50%{
        transform: translate(0,10px);
        -webkit-transform: translate(0,10px);
        -moz-transform: translate(0,10px);
        -ms-transform: translate(0,10px);
        -o-transform: translate(0,10px);
}
    100%{
        transform: translate3d(0,0);
        -webkit-transform: translate3d(0,0);
        -moz-transform: translate3d(0,0);
        -ms-transform: translate3d(0,0);
        -o-transform: translate3d(0,0);
}
}


/* form */
 .form-button{
  transform: all 3s linear both;
  -webkit-transform: all 3s linear both;
  -moz-transform: all 3s linear both;
  -ms-transform: all 3s linear both;
  -o-transform: all 3s linear both;
}
 .form-button:hover{
  transform: translate(0,-10px);
  -webkit-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -ms-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
}
.radio-control,
.control {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .control,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}
.control input {
  height: 1.9rem;
}
.control textarea {
  resize: none;
}

.control .label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  /* color: #949494; */
  font-size: 0.9rem;
  font-weight: normal;
  transition: all 0.38s ease;
}
.control .bar {
  position: relative;
  border-bottom: 0.0625rem solid #7a7a7a;
  display: block;
}
.control .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #00d1b2;
  transition: left 0.38s ease, width 0.38s ease;
  z-index: 2;
}
.control input,
.control textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.38s ease;
  box-shadow: none;
}

.control select,
.control input:focus,
.control input:valid,
.control input.form-file,
.control input.has-value,
.control textarea:focus,
.control textarea:valid,
.control textarea.form-file,
.control textarea.has-value {
  color: #4a4a4a;
}
.control select ~ .label,
.control input:focus ~ .label,
.control input:valid ~ .label,
.control input.form-file ~ .label,
.control input.has-value ~ .label,
.control textarea:focus ~ .label,
.control textarea:valid ~ .label,
.control textarea.form-file ~ .label,
.control textarea.has-value ~ .label {
  font-size: 0.8rem;
  color: #616161;
  top: -1rem;
  left: 0;
}
.control select:focus,
.control input:focus,
.control textarea:focus {
  outline: none;
}
.control select:focus ~ .label,
.control input:focus ~ .label,
.control textarea:focus ~ .label {
  color: #00d1b2;
}
.control select:focus ~ .bar::before,
.control input:focus ~ .bar::before,
.control textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}
/* end form */



.hero #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
 .avatar {
  text-align: center;
  position: relative;
  height: 140px;
  padding: 10px 0;
}
/* .avatar .circle-chart {
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
} */
.avatar img.is-sketch {
  opacity: 1;
}
.avatar img {
  position: absolute;
  width: 100px;
  height: 100px;
  /* left: 0; */
  right: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.avatar img.is-real {
  opacity: 0;
}
.avatar img.is-real:hover{
  opacity: 1;
}
/* .avatar .circle-chart {
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
} */
.image-border{
  position: absolute;
  right: 0;
  left:0;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 4px solid #0e2aa433;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: all .2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -ms-transition: width 2s;
  -o-transition: width 2s;
 
}

.image-border:hover{
  border-color: #00ff99;

}

 .pageloader.is-theme {
  background-image: linear-gradient(to bottom, #22005b 0%, #161a31 100%) !important;
}
.pageloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ededed;
  z-index: 999998;
  transition: -webkit-transform .35s ease-out;
  -webkit-transition: -webkit-transform .35s ease-out;
  transition: transform .35s ease-out;
  transition: transform .35s ease-out, -webkit-transform .35s ease-out;
  transition: transform .35s ease-out,-webkit-transform .35s ease-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  will-change: transform;
}
.pageloader::before {
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  -webkit-animation: page-loader-outer 1.5s infinite ease-in;
  animation: page-loader-outer 1.5s infinite ease-in;
}

.pageloader::after {
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background-color: rgba(255,255,255,.5);
  border: 3px solid rgba(255,255,255,.75);
  -webkit-animation: page-loader-inner 1.5s infinite ease-out;
  animation: page-loader-inner 1.5s infinite ease-out;
}
.pageloader::after, .pageloader::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 100%;
  content: "";
  z-index: 999999;
}
.infraloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #22005b;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
} 
/* start media page style */

.media-line::before{
  content: '';
  width: 75px;
  height: 3px;
  background:linear-gradient(to right, #7F00FF, #3f00fc) !important;
  color: blue;
  display: block;
  margin:10px 0 10px 0;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  
}

.media-page  .post{
 
  margin-right: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}
.media-page .post-section{
  /* width: 956px; */
  /* height: 276px; */
  /* margin: 0 0 20px 0; */
  /* border: 1px solid red; */
  padding: 50px;
}
 .search-widget {
  margin: 20px;
}
.control {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
.search-widget .control-material input {
  padding-right: 40px;
}
.control-material input.material-input, .control-material textarea {
  width: 100% !important;
  font-size: 18px;
  padding: 0.625em 0.625em 0.625em 0.3125em;
  display: block;
  /* width: 18.75em; */
  border: none;
  /* border-bottom: 1px solid #a9abac; */
  background-color: transparent !important;
}
.control-material.is-primary input, .control-material.is-primary textarea {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.2) !important;
}
.control-material input, .control-material textarea {
  border-radius: 0 !important;
  /* border-color: rgba(0,0,0,.05); */
  resize: none;
}
.control-material .bar {
  position: relative;
  display: block;
}
span {
  font-style: inherit;
  font-weight: inherit;
}

.control-material label {
  font-family: sans-serif;
  color: #cecece;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.3125em;
  top: 0.625em;
  transition: .2s ease all;
  -moz-transition: .2s ease all;
  -webkit-transition: .2s ease all;
}
.categories-widget {
  margin-bottom: 20px;
}
.categories-widget .widget-title {
  font-family: "Cabin",sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(94,147,255,.9);
  padding: 0 20px;
}
.categories-widget .categories-list {
  padding: 20px 0;
}
.categories-widget ul {
  list-style: none;
}
.categories-widget .categories-list li {
  padding: 10px 20px;
}
.categories-widget .categories-list li a.is-active {
  opacity: 1;
  color: rgba(94,147,255,.9);
}
.categories-widget .categories-list li a {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Cabin",sans-serif;
  font-size: .95rem;
  color: #fff;
  opacity: .6;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.categories-widget a {
  /* color: #039be5; */
  cursor: pointer;
  text-decoration: none;
}
.categories-widget .categories-list li a:hover{
  color: rgba(94,147,255,.9);
}
.categories-widget .tag{
  color: #00ff99;
  border: 1px solid #00ff99;
  background-color: #1c004c;
  padding: 0 9px 0 9px;
}

.tags-widget {
  margin-bottom: 20px;
}
.tags-widget .widget-title {
  font-family: "Cabin",sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(94,147,255,.9);
  padding: 0 20px;
}
.tags-widget .tags {
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.tags:last-child {
  margin-bottom: -0.5rem;
}
.tags-widget .tags .tag {
  margin: 5px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7f00ff;
  background: transparent;
  border: 1px solid #7f00ff;
}
/* .tags .tag:not(:last-child) {
  margin-right: 0.5rem;
} */
.tag:not(body) {
  /* align-items: center;
  background-color: #f5f5f5; */
  border-radius: 4px;
  font-size: .75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}
.archives-widget {
  margin-bottom: 20px;
}
.archives-widget .widget-title {
  font-family: "Cabin",sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(94,147,255,.9);
  padding: 0 20px;
}
.archives-widget .select {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 20px;
}
.select {
  max-width: 100%;
  vertical-align: top;
}
.archives-widget input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}
input[type=radio] {
  vertical-align: baseline;
}
input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  padding: initial;
  border: initial;
}
/* end media page style */

/* media query */

@media  (max-width: 768px) {

  .timer{
  text-align: center !important;
  margin-left: -175px !important;
  font: 25px !important;

  }
  .ico-list { 
    /* width: 50px !important; */
    text-align: center !important;
   margin-left: -185px !important;
  }
  .ico-progress-progres{
    width: 60% !important;
  }
  .ico-progress-progres-section1{
    margin-left: -145px !important;
  }
  .ico-progress-button button{
    width: 50% !important;
  }
  .ico-progress-icon{
    width: 65% !important;
  }
  /* .faq .faq-according .faq-according-body{
    padding-left:0 !important;
} */
  .plusminus {
   
   
    float: left;
    color:  rgba(0,83,251,.5); 
    padding-left: 10px !important;
    /* font-size: 20px; */
  }
 .post-section{
  display: flex;
  flex-direction: column !important;
 }
 /* .media .hero-foot{
 
 } */
}